html, body {
  padding: 0; margin: 0;
  text-align: center;
  background: black;
  color: #4CAF50;
}

div {
  font-size: 1.5em;
  font-family: monospace;
}

/* Play & Stopp Button */
button {
  background-image: url(playbutton.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2fc279;
  border: none;
  color: #ffffff;
  font-size: 1.8em;
  padding: 0.4em 1.0em;
  font-family: monospace;
}

/* Drumstyle Dropdown */
.drumtype {
  font-size: 1.8em;
  padding: 0.4em 1.0em;
}

/* Blockreihenanzeige des aktuellen Zeitpunktes */
.zeitstrahl{
  background-color: rgba(128, 128, 128, 0.377);
  display: inline-block;
  width: 30em;
  height: 10em;
}

/* Einzelne Blocks im "Zeitstrahl" */
span.b{
  display: inline-block;
  width: 0.05em;
  height: 0.05em;
  padding: 0.52em;
  background-color: rgb(255, 255, 255);
}

/* Rasterhintergrund */
.tafelillu{
  background-color: rgba(128, 128, 128, 0.199);
  display: inline-block;
  width: 30em;
  height: 5,9em;
}

/* Rasterblöcke obere Reihe (Kickdrum) */
span.a {
  display: inline-block;
  background-image: url(kick.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

/* Rasterblöcke 2. Reihe (Hi-Hat) */
span.c {
  display: inline-block;
  background-image: url(hat.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

/* Rasterblöcke 3. Reihe (Snaredrum) */
span.d {
  display: inline-block;
  background-image: url(snare.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

/* Rasterblöcke untere Reihe (Open Hat/Reverse) */
span.e {
  display: inline-block;
  background-image: url(cymbals.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

.slidecontainer {
    width: 100%;
    position: center;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 60%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 30px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }