html, body {
  padding: 0; margin: 0;
  text-align: center;
  background: black;
  color: #4CAF50;
}

div {
  font-size: 1.5em;
  font-family: monospace;
}

button {
  background-image: url(playbutton.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2fc279;
  border: none;
  color: #ffffff;
  font-size: 1.8em;
  padding: 0.4em 1.0em;
  font-family: monospace;
}

.drumtype {
  font-size: 1.8em;
  padding: 0.4em 1.0em;
}

.zeitstrahl{
  background-color: rgba(128, 128, 128, 0.377);
  display: inline-block;
  width: 30em;
  height: 10em;
}

span.b{
  display: inline-block;
  width: 0.05em;
  height: 0.05em;
  padding: 0.52em;
  background-color: rgb(255, 255, 255);
}

.tafelillu{
  background-color: rgba(128, 128, 128, 0.199);
  display: inline-block;
  width: 30em;
  height: 5,9em;
}

span.a {
  display: inline-block; /* the default for span */
  background-image: url(kick.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

span.c {
  display: inline-block; /* the default for span */
  background-image: url(hat.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

span.d {
  display: inline-block; /* the default for span */
  background-image: url(snare.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

span.e {
  display: inline-block; /* the default for span */
  background-image: url(cymbals.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 4em;
  height: 3em;
  padding: 1em;
  background-color: rgb(150, 150, 150); 
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    position: center;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }